input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
#validationFeedback1 {
  width: 10rem;
  align-self: flex-end;
  /* text-align: center; */
  padding: 6px;
  font-family: sans-serif;
}
